@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Lexend+Deca&display=swap');

* {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
}

.container {
    position: absolute;
    height: 60vh;
    width: 800px;
    display: flex;
    flex-direction: row;
    margin: 150px 300px;
}

.fbox{
    height: inherit;
    width: 266px;
    background-color: hsl(31, 77%, 52%);
}

#sedan{
    position: absolute;
    top: 100px;
    left: 40px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

#sedp {
    position: absolute;
    top: 160px;
    width: 200px;
    left: 40px;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

#btn1{
    position: absolute;
    top: 300px;
    left: 40px;
    width: 130px;
    border-radius: 100px;
    padding: 10px;
    color: hsl(31, 77%, 52%);
    border-style: none;
    cursor: pointer;
}

#btn1:active {
    font-size: 10px;
}

#sed1 {
    position: absolute;
    top: 40px;
    left: 30px;
} 

.sbox{
    position: relative;
    height: inherit;
    width: 266px;
    background-color: hsl(184, 100%, 22%);
}

#suv{
    position: absolute;
    top: 100px;
    left: 40px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

#suzp {
    position: absolute;
    top: 160px;
    width: 200px;
    left: 40px;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

#btn2{
    position: absolute;
    top: 300px;
    left: 40px;
    width: 130px;
    border-radius: 100px;
    padding: 10px;
    color: hsl(184, 100%, 22%);
    border-style: none;
    cursor: pointer;
}

#btn2:active {
    font-size: 10px;
}

#suv1 {
    position: absolute;
    top: 40px;
    left: 30px;
}


.tbox{
    position: relative;
    height: inherit;
    width: 266px;
    background-color: hsl(179, 100%, 13%);
}

#lux{
    position: absolute;
    top: 100px;
    left: 40px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
}

#luxp {
    position: absolute;
    top: 160px;
    width: 200px;
    left: 40px;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

#btn3{
    position: absolute;
    top: 300px;
    left: 40px;
    width: 130px;
    border-radius: 100px;
    padding: 10px;
    color: hsl(179, 100%, 13%);
    border-width: 0;
    border-style: none;
    cursor: pointer;
}
#btn3:active {
    font-size: 10px;
}

#lux3{
    position: absolute;
    top: 40px;
    left: 30px;
}

.attribution {
    position: absolute;
    top: 600px;
    left: 500px;
    font-family: 'Lexend Deca', sans-serif;
}

a {
    text-decoration: none;
}
